<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="co.id.keda87.tassdroid"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="preferExternal">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="19"/>

    <!--application permission-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <!--login activity-->
        <activity android:name=".activities.MyActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--main menu activity-->
        <activity android:name=".activities.MainMenuActivity"
                  android:theme="@android:style/Theme.Holo.Light.DarkActionBar"/>

        <!--set theme into menu activity-->
        <activity
                android:name=".activities.ActivityBiodata"
                android:theme="@style/theme_activity_bio"
                android:icon="@drawable/ic_bio"/>
        <activity
                android:name=".activities.ActivityBiodataEdit"
                android:theme="@style/theme_activity_bio"
                android:icon="@drawable/ic_bio"/>
        <activity
                android:name=".activities.ActivityJadwal"
                android:theme="@style/theme_activity_jadwal"
                android:icon="@drawable/ic_jadwal"/>
        <activity
                android:name=".activities.ActivityAbsen"
                android:theme="@style/theme_activity_absen"
                android:icon="@drawable/ic_absen"/>
        <activity
                android:name=".activities.ActivityGraphAbsen"
                android:theme="@style/theme_activity_absen"
                android:icon="@drawable/ic_absen"/>
        <activity
                android:name=".activities.ActivityAbsensiDetail"
                android:theme="@style/theme_activity_absen"
                android:icon="@drawable/ic_absen"/>
        <activity
                android:name=".activities.ActivityTugas"
                android:theme="@style/theme_activity_tugas"
                android:icon="@drawable/ic_tugas"/>
        <activity
                android:name=".activities.ActivityNilai"
                android:theme="@style/theme_activity_nilai"
                android:icon="@drawable/ic_nilai"/>
        <activity
                android:name=".activities.ActivityNilaiDetail"
                android:theme="@style/theme_activity_nilai"
                android:icon="@drawable/ic_nilai"/>
        <activity
                android:name=".activities.ShowcaseActivity"
                android:theme="@style/Transparent"/>
        <activity
                android:name=".activities.ActivityGantiPassword"
                android:theme="@style/theme_activity_password"
                android:icon="@drawable/ic_password"/>
    </application>
</manifest>
